.banner {
	height: 582px;
	background-size: cover;
	background-position: center center;
	background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/photo-1612157777902-5382bc6e864b.jpeg);

	@include mobile() {
		height: 560px;
	}
}
