.index {
	&-courses {
		&-img {
			height: 445px;

			@include tablet() {
				height: 150px;
			}

			@include mobile() {
				height: 165px;
			}
		}
	}

	&-banner {
		height: calc(100vh - 82px);
		background-size: cover;
		background-position: center bottom;
		background-image: url(../images/index-banner.jpeg);

		@include mobile() {
			height: calc(100vh - 67px);
		}
	}

	&-live-img {
		height: 420px;
	}

	&-teaching-banner {
		height: 628px;
	}

	&-relax-img {
		height: 444px;

		@include tablet() {
			height: 266px;
		}

		@include mobile() {
			height: 210px;
		}

		&-sub {
			height: 207px;

			@include tablet() {
				height: 117px;
			}

			@include mobile() {
				height: 210px;
			}
		}
	}
}
