<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title><%- title %></title>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/css/datepicker.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
			integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
			crossorigin="anonymous"
		/>
		<link
			href="https://unpkg.com/aos@2.3.1/dist/aos.css"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
		/>
		<script>
			(function (d) {
				var config = {
						kitId: "jgf1dpt",
						scriptTimeout: 3000,
						async: true,
					},
					h = d.documentElement,
					t = setTimeout(function () {
						h.className =
							h.className.replace(/\bwf-loading\b/g, "") +
							" wf-inactive";
					}, config.scriptTimeout),
					tk = d.createElement("script"),
					f = false,
					s = d.getElementsByTagName("script")[0],
					a;
				h.className += " wf-loading";
				tk.src = "https://use.typekit.net/" + config.kitId + ".js";
				tk.async = true;
				tk.onload = tk.onreadystatechange = function () {
					a = this.readyState;
					if (f || (a && a != "complete" && a != "loaded")) return;
					f = true;
					clearTimeout(t);
					try {
						Typekit.load(config);
					} catch (e) {}
				};
				s.parentNode.insertBefore(tk, s);
			})(document);
		</script>
		<link rel="stylesheet" href="./assets/style/all.css" />
	</head>

	<body>
		<header class="header bg-warning d-flex align-items-center">
			<div class="container">
				<div class="d-flex justify-content-between align-items-center">
					<h3>
						<a href="./index.html">
							<img
								src="./assets/images/DOYOGA-logo.png"
								alt="DOYOGA Logo"
								class="header-logo"
							/>
						</a>
					</h3>
					<nav class="d-none d-lg-flex gap-8">
						<a
							href="./course-intro.html"
							class="
								underline underline-grey
								text-grey
								fw-secondary
							"
						>
							課程介紹
						</a>
						<a
							href="./classroom.html"
							class="
								underline underline-grey
								text-grey
								fw-secondary
							"
						>
							瑜珈空間
						</a>
						<a
							href="./course-schedule.html"
							class="
								underline underline-grey
								text-grey
								fw-secondary
							"
						>
							當月課表
						</a>
					</nav>
					<div class="d-flex align-items-center">
						<div class="d-none d-lg-block">
							<a
								href="./appointment-plans.html"
								class="
									btn btn-outline-secondary
									px-4
									py-2
									rounded-4
									me-4
								"
							>
								立即預約
							</a>
							<a
								href="./contact.html"
								class="
									btn btn-outline-secondary
									px-4
									py-2
									rounded-4
								"
							>
								聯絡我們
							</a>
						</div>
						<button
							type="button"
							class="
								material-icons
								d-lg-none
								border-0
								text-secondary
								bg-transparent
							"
							data-bs-toggle="collapse"
							data-bs-target="#navbarToggleExternalContent"
							id="burgerMenu"
						>
							menu
						</button>
					</div>
				</div>

				<!-- mobile navigation list -->
				<ul
					class="collapse text-center d-lg-none"
					id="navbarToggleExternalContent"
				>
					<li class="mb-2">
						<a
							class="d-inline-block underline underline-grey"
							href="./course-intro.html"
							>課程介紹</a
						>
					</li>
					<li class="mb-2">
						<a
							class="d-inline-block underline underline-grey"
							href="./classroom.html"
							>瑜珈空間</a
						>
					</li>
					<li class="mb-2">
						<a
							class="d-inline-block underline underline-grey"
							href="./course-schedule.html"
							>當月課表</a
						>
					</li>
					<li class="mb-2">
						<a
							href="./appointment-plans.html"
							class="
								btn btn-outline-secondary
								px-4
								py-2
								rounded-4
							"
						>
							立即預約
						</a>
					</li>
					<li>
						<a
							href="./contact.html"
							class="
								btn btn-outline-secondary
								px-4
								py-2
								rounded-4
							"
						>
							聯絡我們
						</a>
					</li>
				</ul>
			</div>
		</header>

		<%- contents %>

		<footer class="bg-secondary py-6 py-md-8">
			<div class="container">
				<div class="row mb-lg-8">
					<div class="col-lg-8">
						<h4 class="fs-3 lh-base text-white mb-2 mb-lg-0">
							現在訂閱，獲得課程優惠碼！
						</h4>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="input-group mb-6 mb-md-8 mb-lg-0">
							<input
								type="text"
								class="form-control fs-5 px-4 py-2"
								placeholder="輸入您的電子信箱"
								aria-label="Input group example"
								aria-describedby="btnGroupAddon2"
							/>
							<button
								type="button"
								class="
									input-group-text
									btn btn-primary
									text-white
									fs-5
								"
								id="btnGroupAddon2"
							>
								訂閱
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="border-bottom border-white"></div>
			<div class="container">
				<div
					class="
						d-flex
						justify-content-between
						text-white
						mt-6 mt-md-8
					"
				>
					<ul class="d-flex flex-column gap-2">
						<li>
							<a href="./index.html">
								<img
									src="./assets/images/DOYOGA.png"
									alt="DOYOGA logo"
									style="height: 31px"
								/>
							</a>
						</li>
						<li>
							<a
								href="./course-intro.html"
								class="
									underline underline-white
									d-inline-block
									text-white
								"
							>
								課程介紹
							</a>
						</li>
						<li>
							<a
								href="./classroom.html"
								class="
									underline underline-white
									d-inline-block
									text-white
								"
							>
								瑜珈空間
							</a>
						</li>
						<li>
							<a
								href="./course-schedule.html"
								class="
									underline underline-white
									d-inline-block
									text-white
								"
							>
								當月課表
							</a>
						</li>
						<li class="d-md-none">© 2021. All Rights Reserved.</li>
					</ul>
					<p class="align-self-end d-none d-md-block">
						© 2021. All Rights Reserved.
					</p>
					<div class="d-flex gap-2">
						<a href="#">
							<i class="fs-4 text-white fab fa-facebook"></i>
						</a>
						<a href="#">
							<i class="fs-4 text-white fab fa-instagram"></i>
						</a>
						<a href="#">
							<i class="fs-4 text-white fab fa-line"></i>
						</a>
					</div>
				</div>
			</div>
		</footer>

		<ul
			class="
				position-fixed
				top-50
				end-0
				translate-middle-y
				d-none d-lg-block
				z-index-3
				me-4
			"
		>
			<li class="mb-2">
				<a href="#"
					><i class="fs-48px text-secondary fab fa-facebook"></i
				></a>
			</li>
			<li class="mb-2">
				<a href="#"
					><i class="fs-48px text-secondary fab fa-instagram"></i
				></a>
			</li>
			<li>
				<a href="#"
					><i class="fs-48px text-secondary fab fa-line"></i
				></a>
			</li>
		</ul>

		<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/js/datepicker-full.min.js"></script>
		<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
		<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
		<script src="./assets/js/vendors.js"></script>
		<script src="./assets/js/all.js"></script>
	</body>
</html>
