html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
	display: block;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

body {
	font-family: source-han-sans-traditional, sans-serif;
}
