$utilities: map-merge(
	$utilities,
	(
		"z-index": (
			property: z-index,
			values: (
				3: 3,
			),
		),
		"object-fit": (
			property: object-fit,
			class: object,
			values: cover,
		),
		"gap-x": (
			responsive: true,
			property: row-gap,
			class: gap-x,
			values:
				map-merge(
					$spacers,
					(
						1: $spacer * 0.25,
						2: $spacer * 0.5,
						4: $spacer * 1,
						6: $spacer * 1.5,
					)
				),
		),
		"font-size":
			map-merge(
				map-get($utilities, "font-size"),
				(
					responsive: true,
					values:
						map-merge(
							map-get(map-get($utilities, "font-size"), "values"),
							(
								14px: 14px,
								36px: 36px,
								48px: 48px,
							)
						),
				)
			),
		"rounded":
			map-merge(
				map-get($utilities, "rounded"),
				(
					responsive: true,
					values:
						map-merge(
							map-get(map-get($utilities, "rounded"), "values"),
							(
								4: 16px,
							)
						),
				)
			),
		"font-weight":
			map-merge(
				map-get($utilities, "font-weight"),
				(
					responsive: true,
					values:
						map-merge(
							map-get(
								map-get($utilities, "font-weight"),
								"values"
							),
							(
								medium: "500",
							)
						),
				)
			),
		"gap":
			map-merge(
				map-get($utilities, "gap"),
				(
					responsive: true,
					values:
						map-merge(
							map-get(map-get($utilities, "gap"), "values"),
							(
								30px: 30px,
							)
						),
				)
			),
	)
);
