.btn {
	// &-outline-primary {
	// 	&:hover {
	// 		color: $light;
	// 	}
	// }

	&-secondary {
		color: $grey;

		&:hover {
			background-color: $primary;
			color: #fff;
			border-color: $primary;
		}
	}

	&-primary {
		color: #fff;

		&:hover {
			background-color: $light;
			color: #fff;
			border-color: $light;
		}
	}

	&-light {
		color: #fff;
	}

	&-outline-light {
		color: $light;

		&:hover {
			border-color: $light;
			background-color: $light;
			color: $secondary;
		}
	}

	&-intro {
		color: $primary;

		&:hover {
			color: #b89a9b;
		}
	}
}
