.btn {
	&-warning {
		background-color: $warning;
		color: $secondary;

		&:hover {
			background-color: $secondary;
			color: #fff;
			border-color: $secondary;
		}
	}

	&-primary {
		color: #fff;

		&:hover {
			background-color: $secondary;
			color: #fff;
			border-color: $secondary;
		}
	}

	&-secondary {
		color: #fff;
	}

	&-outline-secondary {
		color: $secondary;

		&:hover {
			border-color: $secondary;
			background-color: $secondary;
			color: $warning;
		}
	}

	// &-intro {
	// 	color: $primary;

	// 	&:hover {
	// 		color: #b89a9b;
	// 	}
	// }
}
